.display-board {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.item-available{
	font-size: 12px;
}
.page-title{
	font-size: 18px;
	font-weight:300;
     margin: 5px;
}
article{
	padding:10px;
    margin:5% 0%;
}
body {
    text-align: center;
}

li>a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width:768px) {
    .cover {
        display: none;
    }

    .display-board {
        display: grid;
        grid-template-columns: repeat(2,1fr);

    }
}

