body {
    text-align: center;
}

.button {
    border: solid 2px black;
    padding: 10px;
    width: 150px;
}

section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


section>div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
section>div>div {
    margin: 30px 0px;
    font-size: 15px;
}




#mens-outerwear {
    grid-column: 1/3;
}

#ladies-outerwear {
    grid-column: 1/3;
}

#mens-tshirts {
    grid-column: 1/2;
}

#ladies-tshirts {
    grid-column: 2/3;
}